  <!-- sidebar Left side column. contains the sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <ul class="sidebar-menu" data-widget="tree">
        <li><a href="{{ url_for('generos') }}"><i class="fa fa-table"></i> Gêneros</a></li>
		<li><a href="{{ url_for('animes') }}"><img src="dist/img/anime.png" width="20" 
		  style="padding-right: 5px;"></img> Animes</a></li>
		<li><a href="{{ url_for('filmes') }}"><i class="fa fa-film"></i> Filmes</a></li>
		<li><a href="{{ url_for('series') }}"><i class="fa fa-desktop"></i> Séries</a></li>
  	    <li><a href="{{ url_for('usuarios') }}"><i class="fa fa-user"></i> Usuários</a></li>
		<li><a href="{{ url_for('dubladores') }}"><i class="fa fa-microphone"></i> Dubladores</a></li>
		<li><a href="{{ url_for('principal') }}"><i class="fa fa-folder"></i> Pagina Principal</a></li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

 <!-- sidebar FIM =============================================== -->
